################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/VisualStudio/JOVE/JOVE.slnx
/VisualStudio/JOVE/.vs/JOVE.slnx/FileContentIndex/5164c49d-eeb0-4e83-a344-62195771d26c.vsidx
/VisualStudio/JOVE/.vs/JOVE.slnx/FileContentIndex/74a26397-5a6a-4766-a832-855c0e1e1cc8.vsidx
